@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card{
    padding-top: 91px;
    padding-inline: 10px;
    min-height: 100dvh;
}

.button{
    padding-inline: 20px;
    padding-block: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    background-color: #96BB7C;
    color:white;
    white-space: nowrap;
    width: 100%;
}

.remove{
    margin-left:8px;
    padding-inline: 10px;
    padding-block: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    background-color: rgb(34, 31, 31)(34, 31, 31);
    color:#252B42
}

.next{
    margin-block: 15px;
}